.signup-card {
    border: solid;
    border-image-slice: 1;
    border-width: 20px;
    border-image-source: linear-gradient(to bottom right, rgb(97, 0, 253), rgb(190, 8, 223));
    margin-top: 60px !important;
}

.signup-link {
    padding-left: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}

#signup-card-column {
    margin-top: 80px;
    margin-bottom: 70px;
}