.signup-card {
    border: solid;
    border-image-slice: 1;
    border-width: 20px;
    margin-top: 60px !important;
}

.signup-link {
    padding-left: 32.5px;
    margin-top: 25px;
    margin-bottom: 35px;
    font-weight: 600;
}

.dark-mode .signup-link {
  color: rgb(194, 194, 194);
}

#signup-card-column {
    margin-top: 80px;
    margin-bottom: 70px;
}

/* .movie-border {
  border-image-slice: 1 ;
  border-image-source: linear-gradient(to bottom right, rgb(94, 9, 251), rgb(255, 2, 234)) ;
} */