.signup-card {
    border: solid;
    border-image-slice: 1;
    border-width: 20px;
    border-image-source: linear-gradient(to bottom right, rgb(97, 0, 253), rgb(190, 8, 223));
    margin-top: 60px !important;
    
}

.login-link {
    padding: 30px;
    padding-top: 0px;
    padding-left: 40px;
}

#signup-card-column {
    margin-top: 80px;
    margin-bottom: 70px;
}