#platform-select {
  border-radius: 40px;
  border: 1px solid black;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}

.dark-mode #platform-select {
  background-color: black;
  color: rgb(151, 151, 151);
  border-color: rgb(65, 65, 65);
}
