input {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
    padding-left: 0.5rem;
}

.read-only-star {
    padding-left: 0.5rem;
}

.center-wrap {
    position: relative;
    width: 100%;
    text-align: center;
}

.ratingReviewHeading {
    border-bottom: solid 3px;
    font-weight: 500;
    color: black;
}

.rating {
    margin-bottom: 0px;
}

.review-input {
    width: 100%;
}

.dark-mode .review-input {
  background-color: transparent;
  border-color: rgb(49, 49, 49);
  color: rgb(184, 184, 184);
}

.save-media-btn {
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 40px;
  border: 1px solid !important;
  font-size: 1.1rem;
  padding: 10px 17.5px 7.5px 17.5px;
  margin-top: 20px;
}

.save-media-btn:hover {
  color: white !important;
}

.dark-mode .save-media-btn:hover {
  border-color: black !important;
  color: black !important;
  font-weight: 700;
}

.already-saved {
    margin-bottom: -10px !important;
    font-size: 0.85rem;
    font-style: italic;
}

.dark-mode .already-saved {
  color: rgb(105, 105, 105);
  font-weight: 500;
}

