.special-font {
    /* font-family: 'Open Sans', sans-serif; */
      font-family: 'Montserrat', sans-serif;
/* font-family: 'Montserrat Subrayada', sans-serif; */
  }

.light-gray {
  color: rgb(189, 189, 189);
}

.mode-btn {
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 40px;
  border: 1px solid !important;
  font-size: 1.1rem;
  padding: 10px 17.5px 7.5px 17.5px;
}

.mode-btn:hover {
  color: white !important;
}

.dark-mode .mode-btn:hover {
  border-color: black !important;
  color: black !important;
  font-weight: 700;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */;
  /* min-height: 100vh;
  height: 100%; */
  width: 100% auto;
  margin: 0;
  /* padding-top: 60px; */
}

.dark-mode {
  background: linear-gradient(412.9deg, rgb(32, 32, 32) 0%, rgb(17, 17, 17) 82.68%, rgb(0, 0, 0) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* .dark-mode #root{
background-color: black;
} */

.light-mode {
  background: linear-gradient(412.9deg, rgba(255,255,255,1) 0%, rgb(253, 253, 253) 82.68%, rgba(235,235,235,1) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* .light-mode body{
  background: linear-gradient(412.9deg, rgba(255,255,255,1) 0%, rgb(253, 253, 253) 82.68%, rgba(235,235,235,1) 100%);
  background-repeat: no-repeat;
} */

#root {
  position: relative;
}

textarea,
select,
input,
button {
  outline: none !important;
}

.dark-mode hr {
  border-width: 2px;
  border-color: rgb(42, 42, 42);
}

.small {
  font-weight: 400;
  font-style: italic;
}

a:hover, a:focus {
  color: rgb(94, 9, 251);
}

/* eventually put this in component styling */
/* card styling */
.card {
  border: solid;
  border-width: 20px;
  /* border-image-source: linear-gradient(to top right,  rgb(0, 255, 255), rgb(3, 7, 255)); */
  margin-bottom: 24px ;
}

.light-mode .card {
  background-color: transparent;
}

.dark-mode .card {
  background-color: transparent;
  color: rgb(210, 210, 210);
}

/* BOOK COLORS */
.book-border {
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right,  rgb(94, 9, 251), rgb(0, 233, 221));
}

.book-color, .book-hover:hover  {
color: rgb(43, 146, 230) !important;
}

.book-back, .book-hover-fill:hover {
  background: linear-gradient(to bottom right, rgb(94, 9, 251) 0%, rgb(0, 233, 221) 95%) !important;
}


/* MUSIC COLORs */
.music-border {
  border-image-slice: 1 ;
  border-image-source: linear-gradient(to bottom right,  rgb(255, 2, 234), rgb(251, 255, 1)) ;
}
.music-color, .music-hover:hover  {
  color: rgb(255, 123, 123)!important;
}

.music-back, .music-hover-fill:hover  {
 /* background-color: rgb(255, 110, 122)   !important; */
 background: linear-gradient(to bottom right, rgb(255, 2, 234) 0%, rgb(251, 255, 1) 95%) !important;
}


/* MOVIE COLORS */
.movie-border {
  border-image-slice: 1 ;
  border-image-source: linear-gradient(to bottom right, rgb(94, 9, 251), rgb(255, 2, 234)) ;
}
.movie-color, .movie-hover:hover {
  color: rgb(196, 67, 255) !important ;
}

.movie-back, .movie-hover-fill:hover {
  background: linear-gradient(to bottom right, rgb(94, 9, 251) 0%, rgb(255, 2, 234) 95%) !important;
}


/* GAME COLORS */
.game-border {
  border-image-slice: 1 ;
  border-image-source: linear-gradient(to bottom right, rgb(0, 233, 221), rgb(251, 255, 1) ) ;
}
.game-color, .game-hover:hover  {
  color: rgb(98, 236, 116) !important;
}

.game-back, .game-hover-fill:hover {
  background: linear-gradient(to bottom right, rgb(0, 233, 221) 0%, rgb(251, 255, 1) 95%) !important;
}

/* FRIENDS BORDERS? OR MIX OF ALL COLORS? */
.friend-border1 {
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom left, rgb(94, 9, 251), rgb(0, 233, 221));
}

.friend-border2 {
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right,  rgb(255, 2, 234), rgb(251, 255, 1));
}

.friend-border3 {
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right, rgb(94, 9, 251), rgb(255, 2, 234));
}

.friend-border4 {
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right, rgb(0, 233, 221), rgb(251, 255, 1) );
}

.purple, #purple, #purple-hover:hover {
  color: rgb(94, 9, 251) !important;
}

#purple-back {
  background-color: rgb(94, 9, 251) !important;
}

.neon, #neon, #neon-hover:hover, .neon-hover:hover{
  color: rgb(255, 2, 234) !important;
}

#neon-back {
  background-color: rgb(255, 2, 234) !important;
}



