body {
  font-family: 'Montserrat', sans-serif;
}


html,
#root,
body {
  font-family: 'Montserrat', sans-serif;
  
  /* background: linear-gradient(412.9deg, rgba(255,255,255,1) 0%, rgb(253, 253, 253) 82.68%, rgba(235,235,235,1) 100%); */
  height: 100%;
  width: 100% auto;
  padding: 0;
  margin: 0;
 
}

h1,
h2,
h3,
h4,
h5,
h6 {
 
}



.small {
  font-weight: 400;
  font-style: italic;
}

/* eventually put this in component styling */
/* card styling */
.card {
  border: solid;
  border-image-slice: 1;
  border-width: 20px;
  border-image-source: linear-gradient(to top right,  rgb(164, 253, 0), rgb(34, 201, 243));
  margin-bottom: 24px !important;
}

.purple1 {
  border: solid;
  border-image-slice: 1;
  border-width: 20px;
  border-image-source: linear-gradient(to bottom right, rgb(83, 13, 246), rgb(214, 0, 214));
  margin-bottom: 24px !important;
}

.purple2 {
  border: solid;
  border-image-slice: 1;
  border-width: 20px;
  border-image-source: linear-gradient(to top right,  rgb(75, 13, 246), rgb(171, 0, 214));
  margin-bottom: 24px !important;
}

.purple3 {
  border: solid;
  border-image-slice: 1;
  border-width: 20px;
  border-image-source: linear-gradient(to bottom left, rgb(102, 13, 246), rgb(214, 0, 168));
  margin-bottom: 24px !important;
}

.purple4 {
  border: solid;
  border-image-slice: 1;
  border-width: 20px;
  border-image-source: linear-gradient(to top left, rgb(74, 12, 245), rgb(171, 0, 214));
  margin-bottom: 24px !important;
}



