@media screen and (min-width: 991px) {
     
    #sub-navbar-menu {
        
      display: none !important;
     
    }
  
}

#sub-navbar-menu {
    margin-top: 70px;
    position: fixed;
    width: 100%;
    z-index: 1;
   
}

#table-row {
   
    background-color: rgb(255, 255, 255) !important;
}





