.card-body {
    position: relative;
}

#profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
}

#media-pic {
  border-radius: 0px !important;
  width: 70%;
  margin-top: 15px;
}

.audio-player {
  width: 100%;
  margin-bottom: 10px;
}


#center-wrap {
    position: relative;
    width: 100%;
    text-align: center;
}

.by {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 400;
    margin-top: 3px;
}

.dark-mode .by {
  color: rgb(135, 135, 135);
}
.ratingReviewHeading {
  border-bottom: solid 3px;
  font-weight: 500;
}

.dark-mode .ratingReviewHeading {
  color: rgb(212, 212, 212);
}

.rating {
  margin-bottom: 0;
}

.dark-mode .rating {
  color: rgb(130, 130, 130);
} 

.scroll-box {
  width: 100%;
  padding-right: 8px;
  padding-left: 12px;
  max-height: 135px;
  overflow: auto;
}

.dark-mode .scroll-box {
  color: rgb(130, 130, 130);
}
/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}


::-webkit-scrollbar-thumb {
    background: rgb(225, 225, 225);  
    border-radius: 10px;
}

.dark-mode ::-webkit-scrollbar-thumb {
  background: rgb(77, 77, 77);  
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 200, 200);  
}

.darkmode ::-webkit-scrollbar-thumb:hover {
  background: rgb(77, 77, 77);  
}


.star-icon {
  font-size: 2.5rem !important;
}

.dark-mode .read-only-star {
  color: rgb(130, 130, 130);
}

#fav-title {
  margin-top: 7px;
}

.dark-mode .small {
  color: rgb(138, 138, 138);
}

.dark-mode b {
  color: rgb(219, 218, 218);
}