#notification-button {
  background-color: transparent;
  color: black;
  padding: 2px 8px 2px 8px;
  margin-left: 6px;
  border-radius: 25px;
  /* float: right; */
}

.notification-item {
  display: flex;
  /* align-items: start; */
  justify-content: space-between;
}
.notification-item:active {
  color: black;
}

.notification-text {
  justify-self: flex-end;
}

.notification-scroll {
  width: 100%;
  padding-right: 8px;
  max-height: 151px;
  overflow: scroll;
}