#notification-button {
  background-color: transparent;
  color: black;
  padding: 2px 8px 2px 8px;
  margin-left: 6px;
  border-radius: 25px;
  /* float: right; */
}

.dark-mode #notification-button {
  color: white;
}

.notification-item {
  display: flex;
  /* align-items: start; */
  justify-content: space-between;
}

.dark-mode .notification-item {
  background-color: transparent !important;
  color: rgb(185, 185, 185);
}

.dark-mode .notification-item:hover {
  background-color: transparent !important;
  color: rgb(255, 2, 234);
}


.notification-item:active {
  color: black;
}

.notification-text {
  justify-self: flex-end;
  width: 400px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;

}

.notification-scroll {
  width: 100%;
  padding-right: 8px;
  max-height: 151px;
  overflow: auto;
}

@media screen and (max-width: 521px) {
  .notification-text {
    justify-self: flex-end;
    width: 300px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }
}

@media screen and (max-width: 414px) {
  .notification-text {
  justify-self: flex-end;
  width: 200px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  }
}