input {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
    padding-left: 0.5rem;
}

.read-only-star {
    padding-left: 0.5rem;
}

.btn {
    color: blueviolet;
}

.rating-submit {
    margin-top: 3px;
    margin-bottom: 3px !important;
}
/* #ffc107
#e4e5e9 */