#messages-container {
    margin-top: 50px;
    padding: 20px;
    height: 730px;
}

#chat-box-header {
  margin-top: -35px;
}

#chat-box-header-active {
  margin-top: -30px;
  color: #9df100 !important;
}




@media screen and (max-width: 991px) {
     
    #lg-screen-search {
        
      display: none !important;
    }

    #messages-container {

      height: 880px;
  }

  #chat-box-header {
    margin-top: 0px;
   
  }
  
  #chat-box-header-active {
    margin-top: 0px;
  }
}

@media screen and (min-width: 991px) {
     
    #sm-screen-search {
        
      display: none !important;
      
     
    }

  
}

.messenger-title {
  font-weight: 700;
  font-size: 1.75rem;
  margin-left: 2.5px;
}