#messages-container {
    margin-top: 50px;
    padding: 20px;
    height: 730px;
    position: relative;
}


#chat-box-header {
  color: rgb(195, 195, 195) !important;
  
}

#all-messages-button {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
     
    #lg-screen-search {
        
      display: none !important;
    }

    #messages-container {

      height: 880px;
  }

  #chat-box-header {
    
    margin-top: 17.5px;
    margin-left: -10px !important;
  }
  
  #chat-box-header-active {
    margin-top: 0px;
    
  }

 


}

@media screen and (min-width: 991px) {
     
    #sm-screen-search {
        
      display: none !important;
      
     
    }

    #line-divide {
      border-left: solid 1px rgb(221, 221, 221);
      /* border-top: solid 1px rgb(221, 221, 221); */
    }

    #chat-box-header {
      border-left: solid 1px rgb(221, 221, 221);
      top: -65px;
      left: -1px;
      position: absolute;
      padding: 20px 0px 21px 15px;
    }
  
}

.messenger-title {
  font-weight: 700;
  font-size: 1.75rem;
  margin-left: 2.5px;
  margin-bottom: 14px;
  width: fit-content;
}