.login-card {
    border: solid;
    border-image-slice: 1;
    border-width: 20px;
    margin-top: 60px !important;
}

.login-link {
    padding-left: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}

#login-card-column {
    margin-top: 80px;
    margin-bottom: 70px;
}

.movie-border {
  border-image-slice: 1 ;
  border-image-source: linear-gradient(to bottom right, rgb(94, 9, 251), rgb(255, 2, 234)) ;
}