.login-card {
    border: solid;
    border-image-slice: 1;
    border-width: 20px;
    border-image-source: linear-gradient(to bottom right, rgb(72, 0, 206), rgb(225, 2, 255));
    margin-top: 60px !important;
}

.login-link {
    padding-left: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}

#login-card-column {
    margin-top: 80px;
    margin-bottom: 70px;
}