/* #profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    

}

#media-pic {
    width: 400px;
}

#comment-button {
    background-color: rgb(0, 162, 255);
    color: white;
} */

#main-body-row {
  width: 100%;
  margin: 0px !important;
}

#media-feed-column {
  margin-top: 15px;
  padding: 0px !important;
}

 @media screen and (max-width: 991px) {
   #media-feed-column {
    margin-top: 65px;
  }
}

#side-bar-column {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  padding-top: 0px;
}

