#container {
  background-color: rgba(255, 255, 255, 0);
  height: 100vh;

}

#friend-icon-div {
  text-align: center;
  padding: 0px;
  margin: 5px 15px -10px 15px;
}

/* .flex-type {
  display: flexbox;
  align-content: center !important;
  justify-content: center !important;
} */
#friend-icon-group {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: rgb(177, 177, 177);
  margin-top: 15px;
  margin-bottom: 10px;
}


.friend-page-icon {
  font-size: 1.4rem;
  color: rgb(190, 190, 190);
}

.friend-text {
  font-weight: 700;
  font-size: 1.45rem;
  margin-top: 30px;
  margin-bottom: 20px;
}
