#app-footer {
  position: absolute;
  bottom: 0px;
}

#footer-title {
  padding-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 800;
}

.dark-mode #footer-title {
  color: rgb(73, 73, 73);
}

.dev-name {
  color: rgb(94, 9, 251);
  font-size: 1.1rem;
  padding-top: 1px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  font-weight: 700;
}

.dark-mode .dev-name {
  color: rgb(192, 51, 192) !important;
}

#footer-links {
  padding-top: 25px;
  background: linear-gradient(to bottom, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 7%);
  padding-bottom: 25px;
}

.dark-mode #footer-links {
  padding-top: 25px;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(29, 29, 29, 0.219) 7%);
}

.dev-link {
  margin: 0px;
  padding: 0px;
  padding-bottom: 1px;
  font-weight: 400;
}