#chat-input {
    border-radius: 40px;
    background: transparent;
    color: black;
    /* border: none; */
    border: 1px solid black;
    box-shadow: none;
    background: transparent !important;
    outline: none !important;
    margin-bottom: 20px;
    
    font-size: 15px;
    margin-right: none; 
}

#chat-input:active, #chat-input:focus {
    background: transparent !important;
    outline: none !important;
}

.dark-mode #chat-input {
  background-color: rgb(0, 0, 0) !important;
  border-color: rgba(63, 63, 63, 0.931);
  color: rgb(175, 175, 175);
}

#message-submit-group {
  position: relative;
}

#message-icon-button {
  background: transparent !important;
  font-size: 2rem;
  position: absolute !important;
  left: -12px;
  top: -12px;
}
