.card-body {
  position: relative;
}

#profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
}

#media-pic {
  border-radius: 0px !important;
  width: 70%;
  margin-top: 15px;
}

#center-wrap {
  position: relative;
  width: 100%;
  text-align: center;
}

#center-wrap-tall {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.by {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 400;
  margin-top: 3px;
}

.ratingReviewHeading {
  border-bottom: solid 1px black;
  font-weight: 500;
  color: black;
}

.rating {
  margin-bottom: 0;
}

.scroll-box {
  width: 100%;
  padding-right: 8px;
  padding-left: 12px;
  max-height: 135px;
  overflow: scroll;
}
    
/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(225, 225, 225);  
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 200, 200);  
}


