li {
    list-style-type: none;
 
}

#li-picture {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-top: 11px;
}

#li-button {
    width: 90%;
    color:rgb(94, 9, 251) !important;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;  
    border: none !important;   
      
    }
    
#li-button:hover {
        color: rgb(255, 2, 234) !important;
        background-color: rgba(255, 255, 255, 0) !important;
    }
 


#picture-td {
    width: 15%;
}

#name-p {
    width: 80%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    
}

#name-td {
   margin-top: 16px;
}

@media screen and (max-width: 991px) {


     
    #name-td {
        display: none;
     }

     #picture-td {
       text-align: center;
      margin-bottom: 11px;
  }
}


