/* #like-button {

} */
.like-group {
  margin-bottom: 0px;
}

.like-label {
  font-weight: 500;
  font-size: 1rem;
  padding-right: 5px;
  
}

/* eventually make it same color of card */
#like-icon {
  font-size: 1.5rem !important;
  padding-bottom: 2px;
  cursor: pointer;
}

#liked-icon {
  font-size: 1.5rem !important;
  color: black;
}
