.form-outer-div {
    padding: 40px 60px 10px 60px;
    background-color: rgba(0, 128, 0, 0);
}

#form-label {
  margin-bottom: 15px !important;
  margin-top: 10px !important;
  font-weight: 600;
}

#form-input-signup {
    border-radius: 40px;
    background: transparent;
    color: black;
    border: none;
    border: 1px solid black;
    box-shadow: none;
    padding: 22px;
    font-size: 18px;
    margin: 0px !important;
    outline: none !important;
}

#form-input-signup:active, #form-input-signup:focus {
    background: transparent !important;
    outline: none !important;
}


#form-button-signup {
  color: rgb(94, 9, 251) !important;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 40px;
  border: 1px solid rgb(94, 9, 251) !important;
  font-size: 1.1rem;
  padding: 10px 17.5px 7.5px 17.5px;
  margin-top: 20px;
}

#form-button-signup:hover {
  color: rgb(255, 2, 234) !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgb(255, 2, 234) !important;
}

#heading-signup {
  color: rgb(94, 9, 251) !important;
  margin-top: 15px;
  padding-bottom: 20px;
  font-size: 1.75rem;
  font-weight: 700;
}