#message-list-div {
   
    height: 475px;
    width: 100%; 
    overflow: scroll;
 }

#all-messages-button {
    border: none !important;
    padding: 5px 5px 10px 7.5px;
    font-weight: 600;
    color: black;
  }

  :active, #all-messages-button:focus {
    background-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;

 }


 #all-messages-button:hover {
    color: rgb(255, 2, 234) !important;
    background-color: rgba(255, 255, 255, 0) !important;
 }

 @media screen and (max-width: 991px) {

    #message-list-div {
      height: 600px;
  }

  .expand-later {
    display: block;
    text-align: center;
    border-right: solid 1px rgb(223, 223, 223);
  }
  #all-messages-button {
    padding: 7.5px 5px 5px 0px !important;

  }
}