#container {
  background-color: rgba(255, 255, 255, 0);
  height: 100vh;

}

#sub-container {
  height: 100%;
}
#header-div {
  padding: 30px;

}

#highlight-header {
 
  color: rgb(121, 38, 255) !important;
}

