#container {
  background-color: rgba(255, 255, 255, 0);
  height: 100vh;
}

#sub-container {
  height: 100%;
}

#header-div {
  padding: 30px 30px 5px 30px !important;
}

.saved-icon-group {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: rgb(177, 177, 177);
  margin-top: -10px;
  margin-bottom: 10px;
}

#media-header {
  color: rgb(94, 9, 251) !important;
  font-size: 1.45rem;
  font-weight: 700;
  margin-bottom: 15px;
}

#saved-icon-div {
  text-align: center;
  padding: 0px;
  margin: 5px 15px -10px 15px;
}

#media-count-sub {
  max-width: 40px;
  position: relative;
  overflow: auto;
}

.media-icon {
  font-size: 1.4rem;
}

.dark-mode .empty-message {
  color: rgb(66, 66, 66);
  font-weight: 500;
}