#container {
  background-color: rgba(255, 255, 255, 0);
  height: 100vh;
}

#sub-container {
  height: 100%;
}

#header-div {
  padding: 30px 30px 5px 30px !important;
}

.saved-icon-group {
  margin-top: 4px;
  margin-bottom: 0px;
}

#media-header {
  color: rgb(94, 9, 251) !important;
  font-size: 1.45rem;
  font-weight: 700;
  margin-bottom: 15px;
}

