#prof-body-row {
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 15px;
}


#media-feed-column2 {
  margin-top: 15px;
  padding: 0px !important;
}

#profile-card {
  margin-top: 90px !important;
}

@media screen and (max-width: 991px) {

  #profile-card {
    margin-top: 75px !important;
    background-color: transparent;
  }

}

#side-bar-column {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  padding-top: 0px;
}

/* PROFILE CARD styling */
.img-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

#profile-card {
  position: relative;
  padding: 0px !important;
  border: none !important;
  background-color: transparent;
  margin: 10px 0px 10px 0px;
}

.dark-mode #profile-card {
  background: linear-gradient(412.9deg, rgba(0, 0, 0, 0) 20%, rgb(17, 17, 17) 30%, rgb(37, 37, 37) 100%);
}

.dark-mode #profile-card {
  margin-top: 30px;
}

#profile-card-body {
  padding: 0px !important;
  position: relative;
}

#my-profile-pic {
  width: 200px;
  border-radius: 100%;
}

#profile-image {
  width: 30%;
  float: left;
  text-align: center;
  position: relative;
}

#user-title {
  font-size: 1.5rem;
  margin-top: 1px;
  margin-bottom: 10px;
}

.about-me {
  font-weight: 600;
  margin-bottom: 5px;;
}

#profile-info {
  padding-top: 10px;
  width: 68%;
  height: 100%;
  float: right;
}

#bio-scroll {
  width: 100%;
  padding-right: 8px;
  margin-top: 10px;
  max-height: 105px;
  overflow: auto;
}

.bio-btn {
  border: none !important;
  padding: 1px 0px !important;
  margin-bottom: 0px !important;
  color: rgb(155, 155, 155) !important;
  font-size: 0.925rem;
  height: 25px;
  font-style: italic;
}

.dark-mode .bio-btn {
  color: rgb(122, 122, 122) !important;
}

.bio-btn:hover, .bio-btn:focus {
  font-size: 0.95rem;
  font-weight: 500;
  color: black !important;
  background-color: transparent;
}

.dark-mode .bio-btn:hover {
  color: white !important;
}

.upload-icon {
  opacity: 0.25;
  font-size: 2.5rem;
  position: absolute;
  top: 5px;
  left: 7px;
}

.dark-mode .upload-icon {
  opacity: 0.75;
}

.upload-icon:hover {
  opacity: 1;
}

.prof-page-icon {
  font-size: 1.35rem !important;
  color: rgb(190, 190, 190);
}

.dark-mode .prof-page-icon {
  color: rgb(70, 70, 70);
}

@media screen and (max-width: 767px) {

  .upload-icon {
    font-size: 2rem;
    position: absolute;
    left: 5px;
  }

}

@media screen and (max-width: 439px) {

  .upload-icon {
    font-size: 1.5rem;
    position: absolute;
    left: 5px;
  }

}

.prof-icon-group {
  display: flex;
  justify-content: start;
  color: rgb(177, 177, 177);
  position: relative;
}

.dark-mode .prof-icon-group {
  color: rgb(105, 105, 105);
}

.prof-icon-wrap {
  font-size: 0.9rem;
  /* margin-right: 20px; */
  /* margin-left: 10px; */
  margin-right: 20px;
  margin-top: 10px;
}

#bio-textarea {
  height: 90px;
}

.dark-mode #bio-textarea {
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(175, 175, 175);
  width: 92%;
}