

#main-body-row {
  width: 100%;
  margin: 0px !important;
}

#media-feed-column2 {
  margin-top: 15px;
  padding: 0px !important;
}

@media screen and (max-width: 991px) {

  #profile-card {
    margin-top: 75px !important;
    background-color: transparent;
  }

}

#side-bar-column {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  padding-top: 0px;
}

/* PROFILE CARD styling */
.img-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

#profile-card {
  position: relative;
  padding: 0px !important;
  border: none !important;
  background-color: transparent;
  margin: 10px 0px 10px 0px;
}

#profile-card-body {
  padding: 0px !important;
  position: relative;
}

#my-profile-pic {
  width: 200px;
  border-radius: 100%;
}

#profile-image {
  width: 30%;
  float: left;
  text-align: center;
  position: relative;
}

#user-title {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.about-me {
  font-weight: 600;
  margin-bottom: 5px;;
}

#profile-info {
  padding-top: 10px;
  width: 66%;
  height: 100%;
  float: right;
}

#bio-scroll {
  width: 100%;
  padding-right: 8px;
  margin-top: 10px;
  max-height: 105px;
  overflow: scroll;
}

.bio-btn {
  border: none !important;
  padding: 1px 0px !important;
  margin-bottom: 0px !important;
  color: rgb(155, 155, 155) !important;
  font-size: 0.925rem;
  height: 25px;
  font-style: italic;
}

.bio-btn:hover, .bio-btn:focus {
  font-size: 0.95rem;
  color: black !important;
  background-color: transparent;
}

.upload-icon {
  opacity: 0.25;
  font-size: 2.5rem;
  position: absolute;
  top: 5px;
  left: 7px;
}

.upload-icon:hover {
  opacity: 1;
}

.prof-page-icon {
  font-size: 1.65rem !important;
  color: rgb(190, 190, 190);
}

@media screen and (max-width: 767px) {

  .upload-icon {
    font-size: 2rem;
    position: absolute;
    left: 5px;
  }

}

@media screen and (max-width: 439px) {

  .upload-icon {
    font-size: 1.5rem;
    position: absolute;
    left: 5px;
  }

}

.prof-icon-group {
  display: flex;
  justify-content: start;
  font-size: 0.9rem;
  color: rgb(177, 177, 177);
  position: relative;
}

.prof-icon-wrap {
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  left: -7.5px;
  top: -5px;
}

#bio-textarea {
  height: 90px;
}