.img-fluid {
  margin-bottom: 1rem;
}

#my-profile-pic {
  border-radius: 100%;
}

#main-body-row {
  width: 100%;
}

#media-feed-column2 {
  margin-top: 15px;
  padding: 0px !important;
}


#side-bar-column {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  padding-top: 0px;
}

#profile-info {
  padding-top: 10px;
  width: 66%;
  height: 100%;
  float: right;
}

#mail-friend-icon {
  margin-left: -10px;
}

#mail-friend-text {
  font-size: 0.9rem;
  font-style: italic;
  color: rgb(153, 153, 153);
  position: absolute;
  top: 5px;
  left: 20px;
  
}

.prof-icon-wrap {
  position: relative;
}