.img-fluid {
  margin-bottom: 1rem;
}

#my-profile-pic {
  /* width: 50px;
  height: 50px; */
  border-radius: 100%;
}

/* #media-pic {
    width: 400px;
}

#comment-button {
    background-color: rgb(0, 162, 255);
    color: white;
}  */

/* #profile-container {
  margin-top: 91px;
}

#profile-row {
  margin-left: 0;
  margin-right: 0;
} */

#main-body-row {
  width: 100%;
  margin: 0px !important;
}

#media-feed-column2 {
  margin-top: 15px;
  padding: 0px !important;
}


#side-bar-column {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  padding-top: 0px;
}

#profile-info {
  padding-top: 10px;
  width: 66%;
  height: 100%;
  float: right;
}