/* #center-wrap {
  position: relative;
  width: 100%;
  text-align: center;
} */

.fav-group {
  margin-bottom: 0px;
  padding: 10px 10px 0px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}


.fav-label {
  font-weight: 400;
  font-size: 0.85rem;
  padding-left: 0px;
  padding-top: 15px;
  font-style: italic;
  color: rgb(165, 165, 165);
}

.dark-mode .fav-label {
  color: rgb(95, 95, 95);
  font-weight: 600;
}

#fave-icon {
  font-size: 2.25rem !important;
  padding-bottom: 2px;
  color: rgb(182, 182, 182);
  cursor: pointer;
}

.dark-mode #fave-icon {
  color: rgb(78, 78, 78);
}

#faved-icon {
  font-size: 2.25rem !important;
  cursor: pointer;
}

