#chat-box-body {
    border: 1px solid black !important;
    height: 500px;
    width: 100%; 
    overflow: scroll;

}

#chat-message-row {
    width: 100%;
   
}

#no-chat-head {
    font-size: 30px;
    margin-left: -30px;
}


#this-user-message {
   
    float: right;
    color: white;
    padding: 8px;
    background: linear-gradient(to bottom, rgb(152, 87, 255) 0%, rgb(121, 38, 255) 100%);
    background-attachment: fixed;
    border-radius: 15px;
    border-bottom-right-radius: 2px;
    margin: 10px;
    margin-right: -20px;
}

#this-user-pic {
   
    float: right;
    height: 25px;
    width: 25px;

    border-radius: 100px;
    margin: 10px;
    margin-right: -20px;
}

#this-user-time {
   
    float: right;
    color: black;
    background: none;
    font-size: 10px;
    margin-right: -20px;
}

#that-user-message {
    
    float: left;
    color: black;
    padding: 8px;
    background: linear-gradient(to bottom, #d0ff00 0%, #88d100 100%);
    background-attachment: fixed;
    border-radius: 15px;
    border-bottom-left-radius: 2px;
    margin: 10px;
}

#that-user-pic {
    
    float: left;
    height: 25px;
    width: 25px;
    margin-top: -5px;
    margin-bottom: -5px; 
    border-radius: 100px;
    margin: 10px;
}

#that-user-time {
    
    float: left;
    color: black;
    background: none;
    font-size: 10px;
    margin-left: 10px;
    margin-top: -5px;
    margin-bottom: -5px;
    
    
}



@media screen and (max-width: 991px) {

    #chat-box-body {
      height: 515px;
  }
}