#chat-box-body {
    /* border-left: 1px solid rgb(195, 195, 195) !important; */
    height: 550px;
    width: 100%; 
    overflow: scroll;
  
}

#chat-message-row {
    width: 100%;
    position: relative;
}

/* #no-chat-head {
    font-size: 30px;
    margin-left: -30px;
} */


#this-user-message {
    float: right;
    color: white;
    padding: 5px 14px 5px 12px;
    background: linear-gradient(to bottom, rgb(0, 255, 242) 5%, rgb(94, 9, 251) 100%);
    background-attachment: fixed;
    border-radius: 15px;
    border-bottom-right-radius: 2px;
    margin-top: 20px;
    margin-right: 20px;
}

#this-user-pic {
   
    float: right;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    margin-left: 8px;
    margin-right: -10px;
}

#this-user-time {
   
    float: right;
    color: black;
    background: none;
    font-size: 10px;
    margin-right: -3.5px;
    margin-top: 5.5px;
}

#that-user-message {
    float: left;
    color: black;
    padding: 5px 12px 5px 14px;
    background: linear-gradient(to bottom,rgb(251, 255, 1) 5%, rgb(0, 255, 242) 100%);
    background-attachment: fixed;
    border-radius: 15px;
    border-bottom-left-radius: 2px;
    margin-top: 20px;
    margin-left: 29px;
}

#that-user-pic {
    
    float: left;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    margin-right: 3.5px;
    margin-left: 0px;
}

#that-user-time {
    
    float: left;
    color: black;
    background: none;
    font-size: 10px;
    /* margin-right: 10px; */
    margin-top: 5.5px;
    
    
}



@media screen and (max-width: 991px) {
    #chat-box-body {
      height: 575px;
  }
}