
#search-wrap {
  margin-top: 30px;
}

#form-hugger {
  text-align: right;
  padding: 0px 20px 0px 20px;
  position: relative;
}

#api-search-input {
  width: 100%;
  display: block;
  border-radius: 40px;
  background: transparent;
  color: black;
  border: 1px solid black;
  box-shadow: none;
  padding: 22px;
  font-size: 20px;
  margin-top: 14px;
  margin-bottom: 15px;
}

#api-search-input:active, #api-search-input:focus {
  background: transparent !important;
  outline: none !important;
}


#form-search-btn {
  color: rgb(94, 9, 251) !important;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 40px;
  border: 1px solid rgb(94, 9, 251);
  font-size: 1rem;
  padding: 10px 15px 10px 15px;
}

#form-search-btn:hover {
  color: rgb(255, 2, 234) !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgb(255, 2, 234) !important;
}

#search-heading {
  color: rgb(94, 9, 251) !important;
  font-size: 1.45rem;
  font-weight: 700;
  padding-left: 30px;
}

.search-icon-group {
  display: flex;
  justify-content: start;
  float: left;
  margin-top: 4px;
  margin-bottom: 0px;
}

.search-icon {
  font-size: 2rem !important;
  padding: 6px;
  cursor: pointer;
  margin-left: 6px;
}



