#container {
 
  background-color: rgba(255, 255, 255, 0);
  height: 100vh;

}

#inner-container {
  margin-top: 100px;
  margin-bottom: 40px;
}

#form-input {
   
  border-radius: 40px;
  background: transparent;
  color: black;
  border: none;
  border: 1px solid black;
  box-shadow: none;
  padding: 22px;
  font-size: 20px;
  
}

#form-input:active, #form-input:focus {
  background: transparent !important;
  outline: none !important;
}

#form-input {
  background: transparent !important;
outline: none !important;
}
#form-button {
  color: rgb(94, 9, 251) !important;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 40px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  height: 49px;
  margin-left: 15px;
  margin-top: 8px;
}

#form-button:hover {
  color: rgb(255, 2, 234) !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgb(255, 2, 234) !important;
}

#search-header {

  color: rgb(94, 9, 251) !important;
  margin-left: 30px;
}


