.custom-upload {
  padding: 5px !important;
  font-size: 1.25rem !important;
}

.custom-file-label {
border-radius: 20px !important;
border: solid 1px rgba(0, 0, 0, 0.685);
color: rgb(255, 255, 255);
font-weight: 500;
  margin-bottom: 0px !important;
  background-color: rgba(0, 0, 0, 0.212) !important;

}

.custom-file-label::after {
  border-radius: 20px !important;
  border: none;
  border-left: solid 1px rgba(0, 0, 0, 0.541) !important;

  background-color: rgba(94, 9, 251) !important;
  color: rgb(255, 255, 255);
}

.upload-btn {
  text-align: right;
  color: rgba(94, 9, 251) !important;
  float: right;
  border: solid 1.5px !important;
  border-radius: 20px !important;
  padding-top: 7px;
  font-size: 1rem;
  font-weight: 800;
  /* background-color: rgba(133, 133, 133, 0) !important; */

}

.upload-btn:hover {
  color: rgb(255, 255, 255) !important;
}

