.custom-upload {
  padding: 5px !important;
  font-size: 1.25rem !important;
}

.custom-file-label {
border-radius: 20px !important;
border: solid 1px black;
color: black;
  margin-bottom: 0px !important;
  background-color: rgba(179, 179, 179, 0.418) !important;

}

.custom-file-label::after {
  border-radius: 20px !important;
  background-color: rgb(95, 95, 95) !important;
  color: white;
}

.upload-btn {
  text-align: right;
  color: rgb(94, 9, 251) !important;
  float: right;
  border: solid 1px !important;
  border-radius: 20px !important;
  padding-top: 7px;
  font-weight: 600;
  /* background-color: rgba(133, 133, 133, 0) !important; */

}