#new-navbar {
  background-color: rgb(255, 255, 255) !important;
  /* backdrop-filter: blur(500px); */
  position: fixed;
  width: 100%;
  z-index: 2 !important;
  padding: 2.5px;
}

#nav-container {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.logo-text-main {
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1238px) {
  .logo-text-main {
    font-size: 1.8rem;
    padding-top: 0px;
  }
}

@media screen and (max-width: 1051px) {
  .logo-text-main {
    font-size: 1.55rem;
    padding-top: 0px;
  }
}

@media screen and (max-width: 991px) {
  .logo-text-main {
    font-size: 1.5rem;
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .logo-text-main {
    font-size: 1.25rem;
    padding-top: 0px;
  }
}

@media screen and (max-width: 439px) {
  .logo-text-main {
    /* padding-top: 8px; */
    font-size: 1.2rem;
  }
}

.nav-link-group {
  font-weight: 500;
  font-size: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shorten {
  margin-right: 0;
}

a {
  color: black;
  background-color: transparent;
}

/* a:active {
  color: rgb(106, 0, 206) !important;
} */


a:hover {
/* color: rgb(106, 0, 206) !important; */
  text-decoration: none;
}

.btn {
  content: none;
  background: none;
  border: none;   
}

.btn:hover {
  content: none;
  background: none;
  border: none;  
}

.dropdown-toggle::after { 
  content: none; 
} 

.modal-header {
  padding: 10px 10px 5px 10px;
  background-color: rgb(224, 223, 223);
}

button.navbar-toggler {
  border: none !important;
  background-color: transparent;
}

.navbar-toggler-icon {
  color: rgb(94, 9, 251)!important;
}