#new-navbar {
  background-color: rgb(255, 255, 255) !important;
  /* backdrop-filter: blur(500px); */
  position: fixed;
  width: 100%;
  z-index: 2 !important;
  padding: 2.5px;
}

#nav-container {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/* change to whatever final logo font is */
/* .logo-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1.7rem;
  margin: 0;
} */

.logo-text-main {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1.55rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .logo-text-main {
    font-size: 1.25rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 439px) {
  .logo-text-main {
    padding-top: 8px;
    font-size: 0.95rem;
  }
}

.nav-link-group {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shorten {
  margin-right: 0;
}

a {
  color: black;
  background-color: transparent;
}

/* a:active {
  color: rgb(106, 0, 206) !important;
} */


a:hover {
/* color: rgb(106, 0, 206) !important; */
  text-decoration: none;
}

.btn {
  content: none;
  background: none;
  border: none;   
}

.btn:hover {
  content: none;
  background: none;
  border: none;  
}

.dropdown-toggle::after { 
  content: none; 
} 

.modal-header {
  padding: 10px 10px 5px 10px;
  background-color: rgb(224, 223, 223);
}