.comments {
  width: fit-content;
  background-color: rgb(240, 240, 240);
  padding: 4px 10px 2px 10px;
  border-radius: 15px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.commenter {
  font-weight: 600;
}

.comment-box {
  margin-bottom: 10px;
  width: 100%;
  padding-right: 8px;
  padding-left: 4px;
  max-height: 182px;
  overflow: auto;
}

.comment-label {
padding-bottom: 4px;
 margin-bottom: 11px;
 margin-top: 0px;
 border-bottom: solid 1px rgb(228, 228, 228);
 font-weight: 500;
 font-size: 1rem;
}

#comment-grouping {
  margin-bottom: 0px !important;
}
    
/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-thumb {
background: rgb(225, 225, 225);  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: rgb(200, 200, 200);  
}

.comment-input {
  border: solid 1px black !important;
  border-radius: 20px;
}