.comments {
  width: fit-content;
  background-color: rgb(240, 240, 240);
  padding: 4px 10px 2px 10px;
  border-radius: 15px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.dark-mode .comments {
  background-color: rgb(38, 38, 38);
  border: solid 1px rgb(17, 17, 17);
  color: rgb(148, 148, 148);
}

.commenter {
  font-weight: 600;
  padding-right: 2.5px;
}

.dark-mode .commenter {
  font-weight: 300;
  color: rgb(255, 255, 255);
 
}

.comment-box {
  margin-bottom: 10px;
  width: 100%;
  padding-right: 8px;
  padding-left: 4px;
  max-height: 182px;
  overflow: auto;
}

.comment-label {
padding-bottom: 4px;
 margin-bottom: 11px;
 margin-top: 0px;
 border-bottom: solid 1px rgb(228, 228, 228);
 font-weight: 500;
 font-size: 1rem;
}

.dark-mode .comment-label {
  border-color: rgb(41, 41, 41);
  border-width: 2px;
}

#comment-grouping {
  margin-bottom: 0px !important;
}

.comment-input {
  border: solid 1px black !important;
  border-radius: 20px;
}

.dark-mode .comment-input {
  background-color: rgb(36, 36, 36);
  color: rgb(235, 235, 235);
}